CLASH_PROXY_GROUP_NAME=PROXY
CLASH_RULES=["GEOIP,LAN,DIRECT","GEOIP,RU,DIRECT","MATCH,PROXY"]

LOG_LEVEL=INFO

PROFILES=[{"path":"secret-path","sources":[{"baseUrl":"http://host.docker.internal:2096/sub","hostnameOverride":"example.com"},{"baseUrl":"https://3x-ui.example.com:54321/secret-sub"}]}]
